<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS 및 기타 필요한 리소스를 여기에 추가 -->
</head>
<body>
    <div class="container">
        <br>
        <h1 class="text-center"><a href="#">한이음</a></h1>
        <table class="table table-hover table-striped text-center" style="border: 1px solid;">
            <thead>
                <tr>
                    <th>섭씨</th>
                    <th>화씨</th>
                    <th>습도</th>
                </tr>
            </thead>
            <tbody id="data-table">
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // GET 요청을 보내고 데이터를 받아 테이블에 출력
            $.get('/', function(response) {
                var data = response.data_list;
                var tableBody = $('#data-table');
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var row = '<tr><td>' + item[0] + '</td><td>' + item[1] + '</td><td>' + item[2] + '</td></tr>';
                    tableBody.append(row);
                }
            });
        });
    </script>
</body>
</html>
